---
---

$default-width: 30%;

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* force scrollbar, prevents initial gap */
html {
  overflow-y: scroll;
}

.image-wrapper {
  width: 160px;
  height: 160px;
}
.gallery-sizer {
  width: 160px;
}

.image-wrapper--width2 { width: 320px; }
.image-wrapper--height2 { height: 320px; }


//.demo-gallery > .image-wrapper > a > img {
//  -webkit-transition: -webkit-transform 0.15s ease 0s;
//  -moz-transition: -moz-transform 0.15s ease 0s;
//  -o-transition: -o-transform 0.15s ease 0s;
//  transition: transform 0.15s ease 0s;
//  -webkit-transform: scale3d(1, 1, 1);
//  transform: scale3d(1, 1, 1);
//  width: 100%;
//}
//.demo-gallery > ul > li a:hover > img {
//  -webkit-transform: scale3d(1.1, 1.1, 1.1);
//  transform: scale3d(1.1, 1.1, 1.1);
//}

.image-gallery {

  margin-left: auto;
  margin-right: auto;
  clear: both;
  display: block;
  padding-bottom: 20px;
  width: 850px;

  .image-wrapper {
    float: left;
    margin: 0px;
    display: inline-block;

    // hack required if no padding
    .image {
      width: 100.1%;
      width: calc( 100% + 1px );
    }

    a {
      overflow: hidden;
      display: block;
    }

    a > img {
      margin: 0px;
      -webkit-transition: -webkit-transform 0.15s ease 0s;
      -moz-transition: -moz-transform 0.15s ease 0s;
      -o-transition: -o-transform 0.15s ease 0s;
      transition: transform 0.15s ease 0s;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      width: 100%;
    }
    
    a:hover > img {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
      z-index: 999;
    }
  }

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.caption {
  position: static;
  color: #AAA;
}
