{% for cat in include.categories %}
  {% if cat != 'favorite' %}
  <li><a href="{{ site.url }}/categories/{{ cat | replace: 'é', 'e'  }}">
      {% case site.active_lang %}
      {% when 'en' %}
        {% case cat %}
        {% when 'tricot' %}
          knit
        {% when 'création' %}
          creation
        {% else %}
        {{ cat }}
        {% endcase %}
      {% else %}
        {{ cat }}
      {% endcase %}
  </a></li>                                                                                   
  {% endif %}
{% endfor %}
