<div id="downloadplaceholder">
  <div class="leftdownloadplaceholder">
    <a href="{{ include.pdflink | prepend: site.url }}">
      <img src='{{ site.url }}/images/pdf/pdf-small.png' />
    </a>
  </div>
  <div class="rightdownloadplaceholder">
    <a href="{{ include.pdflink | prepend: site.url }}">{{ include.name }}</a>
  </div>
</div>
