<article class="post card container favorite">
  <div class="post-content">
    <div class="big-preview hovereffect">
      <a class="post-link" href="{{ post.url | prepend: site.url }}">
    {% assign image_path = post.asset_path | prepend: 'assets/images/' | append: '/featured.jpg' %}
    {% responsive_image_block %}
      path: {{ image_path }}
      alt: {{ post.meta_description }}
    {% endresponsive_image_block %}
    <div class="overlay">
      <h2>{{ post.title }}</h2>
    </div>
      </a>
    </div>
  <header class="post-header">
    <div><h5><a class="post-link" href="{{ post.url | prepend: site.url }}">{{ post.title }}</a></h5></div>
  </header>
    <div class="entry-content-wrapper standard-content">
    {{ post.meta_description | strip_html | truncatewords: 50 }}
    </div>
  </div>
</article>
