<footer class="footer t-center">
  <div class="container">

    {% include social-icons.html %}

    <small>&copy; {{ site.time | date: '%Y' }}. Made with <a href="http://jekyllrb.com" target="_blank">Jekyll</a></small>
  </div>
</footer>
