<div id="image-gallery{% if include.id_number %}-{{ include.id_number }}{% endif %}" class="image-gallery">
  <div id="gallery-sizer{% if include.id_number %}-{{ include.id_number }}{% endif %}" class="gallery-sizer"></div>
  {% for picture in include.gallery.pictures %}
  {% if forloop.first %}
  <div class="image-wrapper image-wrapper--height2 image-wrapper--width2">
  {% else %}
  <div class="image-wrapper">
  {% endif %}
    <a href="/assets/images/{{ include.gallery.picture_path }}/{{ picture.original }}"
     data-responsive="{% for size in picture.sizes %} /assets/resized/{{ include.gallery.picture_path }}/{{ size }} {{ size | split: '-' | last | split: '.' | first | split: 'x' | first | strip }}{% unless forloop.last %},{% endunless %}{% endfor %}" class="image" {% if picture.title %} data-sub-html="<div class='caption'><h4>{{ picture.title | escape }}</h4>{% if picture.caption %}<p>{{ picture.caption | escape }}</p>{% endif %}</div>"{% endif %}>
  {% if forloop.first %}
     <img class="object-fit_cover image-wrapper--height2 image-wrapper--width2" alt="{{ picture.title }}" src="{{ site.url }}/assets/resized/{{ include.gallery.picture_path }}/{{ picture.sizes[1] }}" />
  {% else %}
     <img class="object-fit_cover image-wrapper" alt="{{ picture.title }}" src="{{ site.url }}/assets/resized/{{ include.gallery.picture_path }}/{{ picture.thumbnail }}" />
  {% endif %}
    </a>
  </div>
  <!-- prepare images sizes for -->
  {% assign image = include.gallery.picture_path | prepend: 'assets/images/' | append: '/' | append: picture.original %}
  {% responsive_image_block %}
    path: {{ image }}
    display: none
  {% endresponsive_image_block %}
  {% endfor %}
</div>

<div class="grid"></div>

<script>
$(document).ready(function() {
  var $gallery{% if include.id_number %}{{ include.id_number }}{% endif %} = $("#image-gallery{% if include.id_number %}-{{ include.id_number }}{% endif %}").lightGallery({
    thumbnail: false,
    selector: '.image'
  });
});

// init isotope
var $grid{% if include.id_number %}{{ include.id_number }}{% endif %} = $('#image-gallery{% if include.id_number %}-{{ include.id_number }}{% endif %}').isotope({
  percentPosition: false,
  columnWidth: '#gallery-sizer{% if include.id_number %}-{{ include.id_number }}{% endif %}',
  itemSelector: '.image-wrapper',
  layoutMode: "masonry"
});

// layout Isotope after each image loads
$grid{% if include.id_number %}{{ include.id_number }}{% endif %}.imagesLoaded().progress( function() {
  $grid{% if include.id_number %}{{ include.id_number }}{% endif %}.masonry();
});

</script>
