<header class="header">

  <div class="overlay">

    <div class="container">

      <h1 class="title">
        <a href="{{ site.url }}/">{{ site.title }}</a>
        {% if page.paginate.category %} - {{ page.paginate.category }}{% endif %}
      </h1>

      <nav class="navbar">
        <a href="#" class="menu-icon">
          <span></span>
          <span></span>
          <span></span>
        </a>

        <ul class="nav">
          {% for page in site.pages %}
            {% if page.slug and page.slug != 'home' and page.layout != 'summary' %}
            <li><a href="{{ page.url | prepend: site.url }}">{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
          <!--<li><a href="{{ site.author.url }}/about" target="_blank">l'auteur</a></li> -->
          <!--          <li><a href="{{ site.github }}" target="_blank">Github</a></li>-->
          {% for tongue in site.languages %}
            {% if tongue != site.active_lang %}
          <li><a href="{% if tongue == site.default_lang %} {{site.url}}{{page.url}}{% else %} {{site.url}}/{{ tongue }}{{page.url}}{% endif %}"><img src="{{site.url}}/assets/images/{{ tongue }}.png"/></a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>

    {% if page.slug == 'home' %}
      <h2 class="txt-center">
        {% case site.active_lang %}
        {% when 'en' %}
          Welcome to <strong>{{ site.title }}</strong>!
        {% else %}
          Bienvenue sur <strong>{{ site.title }}</strong>!
        {% endcase %}
      </h2>
    {% endif %}

    {% if page.support contains 'jquery' %}
    {% include share-bar.html %} 
    {% endif %}

  </div>

</header>
