{% case page.lang %}
{% when 'fr' %}
<small>Cet article est mis à disposition selon les termes de la <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/deed.fr">Licence Creative Commons - Attribution - Partage dans les Mêmes Conditions 4.0 International</a></small>
{% when 'en' %}
<small>This article is made available under the terms of the <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons - Attribution - ShareAlike 4.0 International License</a></small>
{% endcase %}
