<article class="post card container featured">
  <div class="post-content">
    <div class="small-preview">
      <a class="post-link" href="{{ post.url | prepend: site.url }}">
      {% assign image_path = post.asset_path | prepend: 'assets/images/' | append: '/featured.jpg' %}
      <img src="/{{ image_path }}"/>
      </a>
    </div>
    <div class="entry-content-wrapper standard-content">
      <header class="post-header">
        <div><h5><a class="post-link" href="{{ post.url | prepend: site.url }}">{{ post.title }}</a></h5></div>
        <div class="post-tags">
          <ul class="tags">
            {% include categories.html categories=post.categories %}
          </ul>
        </div>
        <span class="post-meta">
          <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
            {{ post.date |timeago }}
            {% case post.lang %}
              {% when 'fr' %}
                <span class="post-author">par {{ site.author.name }}</span>
              {% when 'en' %}
                <span class="post-author">by {{ site.author.name }}</span>
            {% endcase %}
          </time>
        </span>
      </header>
      <div class="entry-content">
        {% case post.lang %}
          {% when 'fr' %}
            {{ post.content | strip_html | truncatewords: 50 }} <a href="{{ post.url | prepend: site.url }}" class="readmore">Lire plus &raquo;</a>
          {% when 'en' %}
            {{ post.content | strip_html | truncatewords: 50 }} <a href="{{ post.url | prepend: site.url }}" class="readmore">Read more &raquo;</a>
        {% endcase %}
      </div>
    </div>
  </div>
  <!--div class="timeline"></div-->
</article>
