<article class="post card container featured">
  <div class="post-content">
    <div class="small-preview">
      <a class="post-link" href="{{ page.original | prepend: site.url }}">
      {% assign image_path = page.asset_path | prepend: 'assets/images/' | append: '/featured.jpg' %}
      {% responsive_image_block %}
          path: {{ image_path }}
      {% endresponsive_image_block %}
      </a>
    </div>
    <div class="entry-content-wrapper standard-content">
      <header class="post-header">
        <div><h5><a class="post-link" href="{{ page.original | prepend: site.url }}">{{ page.title }}</a></h5></div>
        <div class="post-tags">
          <ul class="tags">
            {% include categories.html categories=page.categories %}
          </ul>
        </div>
        <span class="post-meta">
          <time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">
            {{ page.date | timeago }}
            {% case page.lang %}
              {% when 'fr' %}
                <span class="post-author">par {{ site.author.name }}</span>
              {% when 'en' %}
                <span class="post-author">by {{ site.author.name }}</span>
            {% endcase %}
          </time>
        </span>
      </header>
      <div class="entry-content">
        {% case page.lang %}
          {% when 'fr' %}
            {{ page.excerpt | strip_html | truncatewords: 50 }} <a href="{{ page.original | prepend: site.url }}" class="readmore">Lire plus &raquo;</a>
          {% when 'en' %}
            {{ page.excerpt | strip_html | truncatewords: 50 }} <a href="{{ page.original | prepend: site.url }}" class="readmore">Read more &raquo;</a>
        {% endcase %}
      </div>
    </div>
  </div>
</article>
