<div id="rect">

  {% assign maxRelated = 4 %}
  {% assign minCommonTags =  3 %}
  {% assign maxRelatedCounter = 0 %}
  {% for post in site.posts %}

   
    {% assign sameTagCount = 0 %}
    {% if post.url != page.url %}
      {% for tag in post.tags %}
        {% if page.tags contains tag %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if sameTagCount >= minCommonTags %}
    
       <div class="rel">
          <a href="{{ site.url }}{{ post.url }}">

            {% assign image_path = post.asset_path | prepend: 'assets/images/' | append: '/featured.jpg' %}
            {% responsive_image_block %}
              path: {{image_path}}
              class: 'object-fit_cover'
            {% endresponsive_image_block %}
            <div class="background"><div class="text">{{ post.title }}</div></div>
          </a>
       </div>

      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
      {% if maxRelatedCounter >= maxRelated %}
        {% break %}
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
