
//
// container
.container {
//  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
//  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
//    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
//    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

.card {
  padding: 0px $spacing-unit $spacing-unit $spacing-unit;
  background-color: #fff;
//  box-shadow: 0px 1px 2px rgba(#000, .2);
}

.readmore {
  @include transition(color .2s linear);

  &:hover,
  &:focus {
    color: lighten($primary-color, 10%);
    text-decoration: none;
  }
}

.timeline {
  position: absolute;
  top: 0;
  left: 85px;
  width:1px;
  height: 100%;
//  border-right-width: 1px;
//  border-right-style: dashed;
  background-image: url(../assets/images/wave3.png);
  z-index: 1;
}

//
// Site header
.header {
  background: #292929 url(../images/cover.jpg) no-repeat 50% 0px;
  @include background-size(cover);
  border-bottom: 1px solid $gray-color-light;
  border-top: 3px solid $primary-color;
  border-bottom: 3px solid $primary-color;
  min-height: 60px;
  position: relative;
  @extend %clearfix;
  padding: 60px 0;
  margin-bottom: 30px;

  .overlay {
    background: rgba(#000, .15);
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }

  a {
    color: $white-color;
  }

  @include media-query($on-phone) {
    text-align: center;
  }

  .txt-center {
    color: $white-color;
    margin-top: 160px;
    font-weight: 300;
  }
}

.home .header {
  padding: 260px 0 200px;
}

//
// site title
.title {
  font-size: 32px;
  line-height: 65px;
  letter-spacing: -1px;
  margin: 0;
  float: left;
  color: darken($white-color, 10%);
  font-family: $font-family-base;
  background-image: $logo;
  background-repeat: no-repeat;
  padding-left: 60px;
  display: flex;
  white-space: nowrap;

  @include media-query($on-phone) {
    float: none;
    display: block;
    width: 100%;
  }

  & a:hover,
  & a:focus {
    color: lighten($white-color, 10%);
    text-decoration: none;
    border-color: lighten($white-color, 10%);
  }
}

//
// navbar
.navbar {
  float: right;

  @include media-query($on-phone) {
    float: none;
  }
}

//
// ul nav
.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;

  li {
    padding: 20px;
    margin: 0;
    text-transform: lowercase;
    float: left;
    display: inline-block;
    @include transition(background .2s linear);

    &:last-child {
      padding-right: 0;
    }

    @include media-query($on-phone) {
      float: left;
      width: percentage(1/4);
      text-align: center;
    }
  }

  a {
    padding: 0;
    display: inline-block;
    text-decoration: none;
    color: $white-color;
    @include transition(color .2s linear);
  }

  li.active a,
  li:hover a,
  li:focus a {
    color: $primary-color;
    text-decoration: none;
  }
}

//
// menu icon
.menu-icon {
  display: none;
}

//
// post
.post {
  .post-header {
    h1 {
      margin-bottom: 10px;
      // text-transform: uppercase;
      line-height: 1.3em;
      font-size: 1.8rem;
    }
    h5 {
      font-size: 1.2em;
      font-weight: bold;
      line-height: 0.8em;
      font-family: "HappyMonkey";
      margin: 0 0 0.1em 0;
      padding-top: 0.2em;
    }

    a {
      color: $text-color;
      @include transition(color .2s linear);

      &:hover,
      &:focus {
        color: $primary-color;
        text-decoration: none;
      }
    }
  }

  .post-meta {
    font-size: 14px;
    margin-top: 0;
    font-weight: 300;
    font-family: $font-family-serif;
    margin-bottom: 1rem;
    font-style: italic;
    color: #9a9a9a;
  }

  .post-footer,
  .post-tags {
    .tags {
      display: inline-block;
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 14px;
      font-weight: 300;
      font-family: $font-family-serif;
      font-style: italic;
      color: blueviolet;

      li {
        margin-right: 15px;
        display: inline;
        padding: 3px;
        background-color: lavender;
        border-radius: 10px 5px;

      }

      &:last-child {
        padding-right: 0;
        margin-right: 0;
      }

      a {
        padding: 0;
        display: inline-block;
        text-decoration: none;
        color: black;
        @include transition(color .2s linear);
      }

      .favorite-icon {
        background: url(../assets/images/star.svg) no-repeat 50% 5px;
        height: 22px;
        width: 22px;
      }

      li:hover {
        background-color: gainsboro;
      }

      li.active a,
      li:hover a,
      li:focus a {
        color: $primary-color;
        text-decoration: none;
      }
    }

    float: right;
  }

//  img {
//    max-width: 100%;
//    max-height: 800px;
//    vertical-align: middle;
//    border-width: 1px;
//    border-color: lightgrey;
//    border-style: solid;
//    margin-left: auto;
//    margin-right: auto;
//  }
}

#wrap_all {
  width: 100%;
  position: static;
  z-index: 2;
  overflow: visible;
}

#main {
  position: static;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 1px 2px rgba(#000, .2);
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 30px;
}

.desc {
  position: relative;
  padding-left: $spacing-unit;
  display: block;
  text-align: center;
  color: lightgray;

  .first {
    width: 65%;
    float: left;

    h4 {
      margin-bottom: 0;
    }

  }

  .last {
    h4 {
      margin-bottom: 0;
    }

  }

}

.featured-post {
  img {
    height: 10vw;
    width: 100%;
    margin-left: 0px;
    margin-right: 20px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    object-fit: cover;
  }
}

.favorite {
  img {
    width: 100%;
    margin-left: 0px;
    margin-right: 10px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  }
  .hovereffect {
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
  }

  .hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
  }

  .hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
  }

  .hovereffect h2 {
    text-transform:uppercase;
    color:#fff;
    text-align:center;
    position:relative;
    font-size:17px;
    background:rgba(0,0,0,0.6);
    -webkit-transform:translatey(-100px);
    -ms-transform:translatey(-100px);
    transform:translatey(-100px);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:10px;
  }

  .hovereffect a.info {
    text-decoration:none;
    display:inline-block;
    text-transform:uppercase;
    color:#fff;
    border:1px solid #fff;
    background-color:transparent;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    margin:50px 0 0;
    padding:7px 14px;
  }

  .hovereffect a.info:hover {
    box-shadow:0 0 5px #fff;
  }

  .hovereffect:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
  }

  .hovereffect:hover .overlay {
    opacity:1;
    filter:alpha(opacity=100);
  }

  .hovereffect:hover h2,.hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(0);
    -webkit-transform:translatey(0);
    transform:translatey(0);
  }

  .hovereffect:hover a.info {
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
  }
}

.featured {
  img {
    max-height: 150px;
    margin: 0 0 0 0;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    float: left;
    position: relative;
    z-index: 2;
  }
}

.small-preview {
  float: left;
  padding-right: 10px;

  a {
    overflow: hidden;
    display: block;
  }
  a > img {
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  a:hover > img {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
}

.single {
  .post-header {
    margin-bottom: $spacing-unit;
  }
}

.share {
  @extend %clearfix;
  text-align: right;

  span, a {
    font-size: 1em;
    color: #999;
  }
}

.post-list {
//  padding-left: 30px; /* allow enough space for share bar */
//  padding-right: 30px; /* allow enough space for share bar */

  max-width: $content-width;
  margin: auto;

  .post {
    margin-bottom: 0px;
//    border-bottom: 1px solid $gray-color-light;
    overflow: auto;

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }

    .post-content {
      text-align: justify;
      font-family: "HappyMonkey";
    }
  }

  .post-list-left {
    position: relative;
  }
  .post-list-right {
    width: 35%;
    margin-left: 0px;
    float: right;
    position: relative;
    min-height: 1px;
  }
}

@media screen and (max-width: 400px) {
  .post-list {
     margin: 0px;
  }
  .timeline {
    visibility: hidden;
  }
}

// Social
//
.social-icons {
  @extend %clearfix;
  margin-bottom: 15px;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    text-align: center;
    margin-right: 5px;

    a {
      font-size: 30px;
      margin: 0;
      color: #9D9D9D;
      font-weight: 400;
      text-shadow: none;
      -webkit-transition: all .5s ease-in;
      -moz-transition: all .5s ease-in;
      -o-transition: all .5s ease-in;
      transition: all .5s ease-in;
      padding-right: 0;
    }
  }

  i {
    font-size: 20px;
    width: 35px;
    height: 35px;
    padding: 7px;
    background: #DADADA;
    text-align: center;
    color: #494949;
    transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
  }

  a:hover i.fa-facebook {
    background-color: #3A5897;
    color: #fff;
  }
  a:hover i.fa-twitter {
    background-color: #00ABEC;
    color: #fff;
  }
  a:hover i.fa-mastodon-alt {
    background-color: #00ABEC;
    color: #fff;
  }
}

// Pagination
//
.pagination {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 0 0 20px;
  padding-left: 0;
  position: relative;

  ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .page-number {
    color: #999;
    font-size: .8em;
  }
  .page-number, a {
    height: 38px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
  }

  li {
    display: inline-block;
    padding: 0 5px;

    a {
      width: 38px;
      position: relative;
      border: 1px solid rgba(0,0,0,0.1);
      border-radius: 2px;
      margin: 0;
      color: #636363;
      font-size: 1.4em;
      text-decoration: none;
      cursor: pointer;
      background: #fff;

      &:hover {
        background: $primary-color;
        border: none;
        color: #fff;
      }
    }

  }
}

//
// footer
.footer {
  border-top: 1px solid $gray-color-light;
  background-color: $background-color;
  margin-top: 30px;
  padding: 30px 0;

  small {
    color: darken($gray-color-light, 25%);
    font-size: 12px;
  }
}


// add a margin after image slider
// and other things
.ideal-image-slider {
  margin-bottom: 30px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}
.post-content, .post-header {
  h1 {
    font-size: 2.1em;
    font-weight: bold;
    font-family: "HappyMonkey";
    margin: 0 0 0.1em 0;
  }
  h2 {
    font-size: 1.9em;
    font-weight: bold;
    font-family: "HappyMonkey";
    margin: 0 0 0.1em 0;
  }
  h3 {
    font-size: 1.7em;
    font-weight: bold;
    font-family: "HappyMonkey";
    margin: 0 0 0.1em 0;
  }
  h4 {
    font-size: 1.5em; 
    font-weight: bold;
    font-family: "HappyMonkey";
    margin: 0 0 0.1em 0;
  }
}

// related posts
#rect {
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 2em;

  .rel {
      width: 20%;
      padding-bottom: 20%;
      height: 0px;
      display: inline-block;
      position: relative;
      overflow: hidden;
  }

  a {
    display: block;
  }
  a > img {
    max-height: 250px;
    margin: 0px;
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    width: 100%;
  }
  a:hover > img {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  .rel .background {
     position: absolute;
     z-index: 999;
     margin: 0 0 0 auto;
     background: rgba(0, 0, 0, 0.6);
     left: 0;
     right: 0;
     top: 60%; /* Adjust this value to move the positioned div up and down */
     text-align: center;
     width: 60%; /* Set the width of the positioned div */
  }
  .rel .text {
     color: #fff;
     font-size: 1vw;
  }
}

// gallery
$on-palm: 600px;

.row {
    width: 100%;
    display: block;

    &:after{
        content: "";
        display: table;
        clear: both;
    }

    /* base definition */
    .column{
        float: left;
        display: block;
        box-sizing: border-box;
    }
    .full-width {
        @extend .column;
        width: 100%;
    }
    .half-width {
        @extend .column;
        @media screen and (min-width: $on-palm) {
            width: 48%;
        }
    }
    .one-third-width {
        @extend .column;
        width: 31.3333333%;
    }
    .one-tenth-width {
        @extend .column;
        width: 10%;
    }
    .nine-tenth-width {
        @extend .column;
        @media screen and (min-width: $on-palm) {
            width: 90%;
        }
    }
    .two-third-width {
        @extend .column;
        @media screen and (min-width: $on-palm) {
            width: 64.6666666%;
        }
    }
    @media screen and (min-width: $on-palm) {
        .left {
            margin-left: 0;
            margin-right: 2%;
        }
        .right {
            margin-left: 2%;
            margin-right: 0;
        }
    }
    .lg-hide-items .lg-sub-html {
        display: none;
    }
}

.infinite-spinner {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #333;
  margin: 60px auto;

  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

.standard-content, .entry-content {
  text-align: justify;
  font-family: 'HappyMonkey';
}


#downloadplaceholder {
  width: 100%;
  display: flex;
}
.leftdownloadplaceholder {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.rightdownloadplaceholder {
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.grid {
  clear: both;
}

.grid-item {
  float: left;
  width: 160px;
  height: 160px;

//  &:first-child {
//    height: 320px;
//  }
//
//  &:nth-child(2n) {
//    clear: left;
//  }
//  &:nth-child(2n+1) {
//    margin-right: 0;
//  }
}

.object-fit_fill {
  object-fit: fill
}

.object-fit_contain {
  object-fit: contain
}

.object-fit_cover {
  object-fit: cover;
  width: 100%;
}

.object-fit_none {
  object-fit: none
}

.object-fit_scale-down {
  object-fit: scale-down
}
.grid-item--width2 { width: 320px; }
.grid-item--height2 { height: 320px; }

#main-categories {
  
   width: 100% ;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;

  .category {
    width: 20%;
    padding-bottom: 20%;
    position: relative;
    height: 0;
    display: inline-block;
    overflow: hidden;
  }

  a {
    display: block;
  }
  a > img {
    margin: 0px;
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    width: 100%;   
    height: 100%;
    position: absolute;
  }
  a:hover > img {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  .category .background {
     position: absolute;
     z-index: 999;
     margin: 0 0 0 auto;
     background: rgba(0, 0, 0, 0.6);
     left: 0;
     right: 0;
     top: 60%; /* Adjust this value to move the positioned div up and down */
     text-align: center;
     width: 60%; /* Set the width of the positioned div */
  }
  .category .text {
     color: #fff;
     font-size: 1vw;
   }
}


section {
  padding: 0 30px 30px 30px;

  h2 {
    margin: 0 0 1em 0;
  }
}
