---
layout: default
slug: single
---
{% 
  include structured-data.html 
  headline=page.title
  genre=page.category
  keywords=page.keywords
  content=page.content
  link=page.permalink
  date=page.date
  asset_path=page.asset_path
%}
<div class="post-list">
   <div id="wrap_all">
      <div id="main" data-scroll-offset="0"> 
        <article class="post container card">
          <div class="featured-post">
          {% assign image_path = page.asset_path | prepend: 'assets/images/' | append: '/featured.jpg' %}
          {% responsive_image_block %}
              path: {{ image_path }}
          {% endresponsive_image_block %}
          </div>
          <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <span class="post-meta">
              <time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">
              {{ page.date | timeago }}
              {% case page.lang %}
              {% when 'fr' %}
                <span class="post-author">par {{ site.author.name }}</span>
              {% when 'en' %}
                <span class="post-author">by {{ site.author.name }}</span>
              {% endcase %}
              </time>
            </span>
          </header>
        
          <div class="post-content">
        
            {{ content }}
        
<!--            <aside class="share">
              <span>Share this: </span>
        
              <a href="http://twitter.com/share?text={{page.title}}&amp;url={{site.url}}{{ page.url }}&amp;{% if page.tags %}hashtags={{ page.tags |join:"," }}&amp;{% endif %}via=crochetdargent"
              onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><i class="fa fa-twitter-square"></i></a>
        
              <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}"
              onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"><i class="fa fa-facebook-square"></i></a>
        
            </aside>
-->        
            <aside class="mailchimp">
              {% case page.lang %}
              {% when 'fr' %}{% include mailchimp-article-fr.html %}
              {% when 'en' %}{% include mailchimp-article-en.html %}
              {% endcase %}
            </aside>

            <aside class="related">
              {% include related.html %}
            </aside>
            {% include comments.html %}
        
            <aside class="license">
              {% case page.license %}
              {% when 'cc-by-sa' %}{% include license-cc-by-sa.html %}
              {% endcase %}
            </aside>
        
          </div>
        </article>
      </div>
   </div>
</div>
